.selector-main {
  text-align: right;
}

.main-box-selection {
  width: 85vw;
  padding: 5vh 2vw;
  display: block;
  margin: 1vh auto 0 auto;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
}

.main-box-no-selection {
  width: 85vw;
  padding: 6vh 2vw;
  display: block;
  margin: 5vh auto 0 auto;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
}

.main-box-title-row {
  padding-bottom: 3vh;
}

.main-box-title {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  padding: 0 1vw 0 1vw;
}

.main-box-parameters-text {
  text-align: center;
  padding-top: 4vh;
}

.input-box {
  width: 85vw;
  display: block;
  margin: 5vh auto 0 auto;
  text-align: right;
  --highlight-color-focused: white;
  --highlight-color-valid: white;
}

.text-desc {
  width: 85vw;
  display: block;
  margin: 5vh auto 0 auto;
  text-align: center;
}

.text-details {
  width: 85vw;
  display: block;
  margin: 5vh auto 5vh auto;
  white-space: pre-wrap;
}

.error-message {
  text-align: center;
  margin-top: 5vh;
}

